<div class="cart-item">
  <div class="cart-item__img" style="background-image: url(img/product-item.jpg);"></div>
  <div class="cart-item__info">
    <div class="cart-item__top">
      <h3>Панно крылья ангела "Angel"</h3>
      <small class="green">В наличии</small>
    </div>
    <div class="cart-item__footer">
      <div class="cart-item__color">
        <b>Выбранный цвет:</b>
        <div class="cart-item__color-this">
          <div class="cart-item__color-pic active" style="background-image: url(img/product-item.jpg);"></div>
          <p>Черный с серебряной патиной</p>
        </div>
        <div class="cart-item__color-change">Сменить цвет</div>
      </div>
      <div class="cart-item__block cart-item__price"><p>Цена:</p><b>11 990 руб.</b></div>
      <div class="cart-item__block cart-item__quantity"><p>Количество:</p><b>1</b></div>
      <div class="cart-item__block cart-item__total"><p>Сумма:</p><b>11 990 руб.</b></div>
    </div>
  </div>
</div>