<div class="popup-complain" id="popup-complain">
  <h3>Жалоба директору</h3>
  <form action="#">
    <input type="text" class="input" placeholder="ФИО" />
    <input type="text" class="input" placeholder="Телефон" />
    <input type="text" class="input" placeholder="E-mail" />
    <textarea class="textarea" rows="6" placeholder="Проблема"></textarea>
    <label class="politic">
      <input type="checkbox" checked>
      <p>Согласен на обработку персональных данных</p>
    </label>
    <div class="btn-wrap"><button class="btn btn-purple btn-arrow">Отправить</button></div>
  </form>
</div>

<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-list__title"><a href="#">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Доставка и оплата</a></li>
      <li><a href="#">Возврат</a></li>
      <li><a href="#">Партнерам</a></li>
    </ul>
    <ul class="footer-list">
      <li class="footer-list__title"><b>По назначению:</b></li>
      <li><a href="#">Настенные скульптуры</a></li>
      <li><a href="#">Статуэтки</a></li>
      <li><a href="#">Напольные скульптуры</a></li>
      <li><a href="#">Зеркала</a></li>
      <li class="footer-list__none"></li>
      <li><a href="#">Акции</a></li>
      <li><a href="#">Подарочные сертификаты</a></li>
    </ul>
    <ul class="footer-list">
      <li class="footer-list__title"><b>По помещению:</b></li>
      <li><a href="#">В прихожую</a></li>
      <li><a href="#">В ванную</a></li>
      <li><a href="#">В гостиную</a></li>
      <li><a href="#">В спальню</a></li>
      <li><a href="#">В детскую</a></li>
      <li><a href="#">В ванную</a></li>
      <li><a href="#">На кухню</a></li>
    </ul>
    <ul class="footer-list">
      <li class="footer-list__title"><b>По форме:</b></li>
      <li><a href="#">Птички</a></li>
      <li><a href="#">Рыбки</a></li>
      <li><a href="#">Бабочки</a></li>
      <li><a href="#">Цветы</a></li>
      <li><a href="#">Крылья</a></li>
      <li><a href="#">Ангелы</a></li>
      <li><a href="#">Абстракция</a></li>
    </ul>
    <div class="footer-contact">
      <div class="footer-payment">
        <b>Принимаем к оплате:</b>
        <img src="img/icons/payment.svg" alt="" class="footer-contact__payment">
      </div>
      <div class="footer-social">
        <b>Соцсети:</b>
        <ul class="footer-contact__social">
          <li><a href="#"><img src="img/icons/facebook-solid.svg" alt=""></a></li>
          <li><a href="#"><img src="img/icons/twitter-solid.svg" alt=""></a></li>
          <li><a href="#"><img src="img/icons/instagram-solid.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="footer-contact__phone">
        <a href="tel:88122008561">8 (812) 200 85 61</a>
        <p>Россия, Санкт-Петербург,<br> Курляндская ул. 49</p>
      </div>
      <a href="#" class="footer-contact__copyright">Evorate<br> Разработка и продвижение сайтов</a>
    </div>
    <ul class="footer-menu">
      <li class="active"><a href="javascript:;" data-fancybox data-src="#popup-complain">Пожаловаться директору</a></li>
      <li><a href="#">Договор оферты</a></li>
      <li><a href="#">Политика конфиденциальности</a></li>
    </ul>
  </div>
</footer>