<header class="header">
  <div class="container">
    <div class="header-burger"></div>
    <a href="/" class="header-logo"><img src="img/logo.png" alt=""></a>
    <div class="header-search">
      <form action="#">
        <input type="text" class="header-search__input" placeholder="Статуэтки из кам..." />
        <button type="submit" class="header-search__btn"></button>
      </form>
      <div class="header-search__assistant"><a href="#"><b>Умный помощник!</b><p>Подбери для себя товар в 3 клика!</p></a></div>
    </div>
    <div class="header-controls">
      <div class="header-controls__item header-controls__favorites">
        <span class="header-controls__badge">2</span>
        <div class="header-controls__detail">
          <div class="header-controls__detail-drop"></div>
          <div class="header-controls__detail-content">
            <h3>Добавлено в любимые:</h3>
            <div class="header-controls__detail-item">
              <div class="header-controls__detail-img" style="background-image: url(img/favorite-item.jpg);"></div>
              <div class="header-controls__detail-info">
                <p>Панно крылья ангела "Angel"</p>
                <p>1 шт</p>
                <b>11  990 руб.</b>
              </div>
            </div>
            <a href="#" class="header-controls__detail-btn">В любимое</a>
          </div>
        </div>
      </div>
      <a href="#" class="header-controls__item header-controls__user"></a>
      <a href="#" class="header-controls__item header-controls__cart"><span class="header-controls__badge">10</span></a>
    </div>
  </div>
</header>

<nav class="header-nav">
  <div class="container">
    <ul class="header-nav__list">
      <li><a href="#">Акции</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">По назначению</a></li>
      <li><a href="#">По форме</a></li>
      <li><a href="#">По стилю</a></li>
      <li><a href="#">По материалу</a></li>
      <li><a href="#">По цвету</a></li>
      <li><a href="#">В подарок</a></li>
      <li><a href="#">Сертификаты</a></li>
    </ul>
  </div>
</nav>