<div class="popup-auth" id="popup-login">
  <h3>Вход</h3>
  <form action="#">
    <input type="text" class="input" placeholder="Телефон / e-mail" />
    <input type="password" class="input" placeholder="Пароль" />
    <div class="btn-wrap"><button class="btn btn-purple btn-arrow">Войти</button></div>
    <div class="btn-wrap"><a href="javascript:;" data-fancybox data-src="#popup-reg" class="popup-auth__link close-fancy">Зарегистрироваться</a></div>
  </form>
</div>

<div class="popup-auth" id="popup-reg">
  <h3>Регистрация</h3>
  <div class="popup-auth__switch">
    <label data-form="1"><input type="radio" name="type" checked /><p>Физическое лицо</p></label>
    <label data-form="2"><input type="radio" name="type" /><p>Юридическое лицо</p></label>
  </div>
  <form action="#" data-form="1" class="active">
    <input type="text" class="input" placeholder="Телефон / e-mail" />
    <input type="text" class="input" placeholder="E-mail" />
    <input type="password" class="input" placeholder="Пароль" />
    <div class="btn-wrap"><button class="btn btn-purple">Зарегистрироваться</button></div>
    <div class="btn-wrap"><a href="javascript:;" data-fancybox data-src="#popup-login" class="popup-auth__link close-fancy">Вход</a></div>
  </form>
  <form action="#" data-form="2">
    <input type="text" class="input" placeholder="Название компании" />
    <input type="text" class="input" placeholder="ФИО контактного лица" />
    <input type="text" class="input" placeholder="Телефон / e-mail" />
    <input type="text" class="input" placeholder="E-mail" />
    <input type="password" class="input" placeholder="Пароль" />
    <div class="btn-wrap"><button class="btn btn-purple">Зарегистрироваться</button></div>
    <div class="btn-wrap"><a href="javascript:;" data-fancybox data-src="#popup-login" class="popup-auth__link close-fancy">Вход</a></div>
  </form>
</div>

<nav class="nav">
  <div class="nav-bg"></div>
  <div class="nav-content">
    <div class="nav-close"></div>
    <ul>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Доставка и оплата</a></li>
      <li><a href="#">Возврат</a></li>
      <li><a href="#">Партнерам</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Индивидуальный цвет</a></li>
    </ul>
  </div>
</nav>

<header class="header">
  <div class="container">
    <div class="header-burger"></div>
    <a href="/" class="header-logo"><img src="img/logo.png" alt=""></a>
    <div class="header-search">
      <form action="#">
        <input type="text" class="header-search__input" placeholder="Статуэтки из кам..." />
        <button type="submit" class="header-search__btn"></button>
      </form>
      <div class="header-search__assistant"><a href="#"><b>Умный помощник!</b><p>Подбери для себя товар в 3 клика!</p></a></div>
    </div>
    <div class="header-controls">
      <div class="header-controls__item header-controls__favorites">
        <span class="header-controls__badge">2</span>
        <div class="header-controls__detail">
          <div class="header-controls__detail-drop"></div>
          <div class="header-controls__detail-content">
            <h3>Добавлено в любимые:</h3>
            <div class="header-controls__detail-item">
              <div class="header-controls__detail-img" style="background-image: url(img/favorite-item.jpg);"></div>
              <div class="header-controls__detail-info">
                <p>Панно крылья ангела "Angel"</p>
                <p>1 шт</p>
                <b>11  990 руб.</b>
              </div>
            </div>
            <a href="#" class="header-controls__detail-btn">В любимое</a>
          </div>
        </div>
      </div>
      <a href="javascript:;" data-fancybox data-src="#popup-login" class="header-controls__item header-controls__user"></a>
      <a href="#" class="header-controls__item header-controls__cart"><span class="header-controls__badge">10</span></a>
    </div>
  </div>
</header>

<nav class="header-nav">
  <div class="container">
    <ul class="header-nav__list">
      <li><a href="#">Акции</a></li>
      <li>
        <a href="#">Каталог</a>
        <div class="header-nav__dropdown">
          <div class="container">
            <div class="header-nav__dropdown-type">
              <div class="header-nav__dropdown-title">Выбирай</div>
              <ul class="header-nav__dropdown-list">
                <li><a href="#">Настенные скульптуры</a></li>
                <li><a href="#">Статуэтки</a></li>
                <li><a href="#">Напольные скульптуры</a></li>
                <li><a href="#">Зеркала</a></li>
                <li class="header-nav__dropdown-list-none"></li>
                <li><a href="#">Показать всё</a></li>
              </ul>
            </div>
            <div class="header-nav__dropdown-color">
              <div class="header-nav__dropdown-title">По цвету:</div>
              <ul class="header-nav__dropdown-images">
                <li><a href="#" style="background-image: url(img/product-item.jpg);"></a></li>
                <li><a href="#" style="background-image: url(img/product-item.jpg);"></a></li>
                <li><a href="#" style="background-image: url(img/product-item.jpg);"></a></li>
                <li><a href="#" style="background-image: url(img/product-item.jpg);"></a></li>
              </ul>
            </div>
            <div class="header-nav__dropdown-promotion">
              <div class="header-nav__dropdown-title">Акции:</div>
              <ul class="header-nav__dropdown-promo">
                <li><a href="#" style="background-image: url(img/product-item.jpg);"><p>Текст</p></a></li>
                <li><a href="#" style="background-image: url(img/product-item.jpg);"><p>Текст</p></a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a href="#">По назначению</a></li>
      <li><a href="#">По форме</a></li>
      <li><a href="#">По стилю</a></li>
      <li><a href="#">По материалу</a></li>
      <li><a href="#">По цвету</a></li>
      <li><a href="#">В подарок</a></li>
      <li><a href="#">Сертификаты</a></li>
    </ul>
  </div>
</nav>