<div class="product-item product-item-@color">
  <div class="product-item__gallery">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-lazy" data-background="img/product-item.jpg"><div class="swiper-lazy-preloader"></div></div>
      <div class="swiper-slide swiper-lazy" data-background="img/novelty-item.jpg"><div class="swiper-lazy-preloader"></div></div>
      <div class="swiper-slide swiper-lazy" data-background="img/product-item.jpg"><div class="swiper-lazy-preloader"></div></div>
      <div class="swiper-slide swiper-lazy" data-background="img/product-item.jpg"><div class="swiper-lazy-preloader"></div></div>
    </div>
    <div class="product-item__pagination"></div>
    <div class="product-item__badge product-item__badge-purple">В наличии</div>
    <!-- <div class="product-item__badge product-item__badge-pink">Нет в наличии</div> -->
    <div class="product-item__details">
      <a href="#" class="product-item__details-fast">Быстрый просмотр</a>
      <ul class="product-item__details-tags">
        <li><a href="#">New</a></li>
        <li><a href="#">Гранж</a></li>
        <li><a href="#">Гранж</a></li>
        <li><a href="#">Гранж</a></li>
        <li><a href="#">Гранж</a></li>
        <li><a href="#">Гранж</a></li>
        <li><a href="#">Гранж</a></li>
      </ul>
      <ul class="product-item__details-color">
        <li class="active"><a href="#" style="background-image: url(img/product-item.jpg);"></a></li>
        <li><a href="#" style="background-image: url(img/product-item.jpg);"></a></li>
        <li><a href="#" style="background-image: url(img/product-item.jpg);"></a></li>
        <li><a href="#" style="background-image: url(img/product-item.jpg);"></a></li>
        <li class="all-color"><a href="#"></a></li>
      </ul>
      <ul class="product-item__details-footer">
        <li class="product-item__details-more"><a href="#">Подробнее</a></li>
        <li class="product-item__details-cart"><a href="javascript:;" data-fancybox data-popup-big data-src="#popup-product"></a></li>
      </ul>
    </div>
  </div>
  <div class="product-item__like"></div>
  <div class="product-item__info">
    <h4>Панно крылья ангела "Angel"</h4>
    <div class="product-item__footer">
      <a href="#" class="product-item__color"><p>Все цвета</p></a>
      <div class="product-item__price">
        <p>16 990 руб.</p>
        <b>11 990 руб.</b>
      </div>
    </div>
  </div>
</div>