.refund
  &-text
    padding-bottom: 50px
    h3
      font-size: 18px
      font-weight: 600
      margin-top: 30px
      &:first-child
        margin-top: 0
    p
      font-size: 14px
      line-height: 1.5
      margin-top: 10px
    .btn-wrap
      margin-top: 30px
    .btn-purple
      font-weight: 400
      font-size: 14px
      padding: 17px 45px